h2{
    background-color: tomato;
    text-align: center;
    padding: 10px;
    color: aquamarine;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h3{
    background-color: tomato;
    text-align: center;
    padding: 10px;
    color: aquamarine;
    text-transform: uppercase;
}
